{
    background: #CCCCCC
}

#banner {
    width: 100%;
}

h1 {
    text-align: center
}{
    background: #CCCCCC
}
…    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}<div class="principal">

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}<div class="principal">

.escola-div-conteudo{
    width: 40%
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
}